@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.slick-slide >div {
    margin: 0 10px;
}


@theme {
    --color-primary-orange: #F25F3A ;
    --color-primary-blue: #242D52;
    --color-base-gray: #1D1E25;
    --color-base-orange:#FFEFEB;
    --color-base-light-gray: #FAFAFA;   
}

.vietnamsans {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
}

