@import "tailwindcss";

.slick-slide >div {
    margin: 0 10px;
}


@theme {
    --color-primary-orange: #F25F3A ;
    --color-primary-blue: #242D52;
    --color-base-gray: #1D1E25;
    --color-base-orange:#FFEFEB;
    --color-base-light-gray: #FAFAFA;   
}
